%h2 Please enter your review:

= form_for [@restaurant, @review], remote:true do |f|
	= f.label :entry, "Review"
	= f.text_area :entry, placeholder: 'enter your review...'
	= f.label :score, "Score: enter a number from 1 to 5"
	= f.text_field :score
	= f.hidden_field :restaurant_id, value: @restaurant.id
	= f.submit

- if @review.errors.any?
	#error_explanation
	%h2
		= pluralize(@review.errors.count, "error")
		prohibited this post from being saved:

	%ul
		= @review.errors.full_messages.each do |msg|
			%li= msg

			